<?xml version="1.0" encoding="UTF-8"?>
<!--https://logging.apache.org/log4j/2.x/manual/configuration.html-->
<!--https://springframework.guru/log4j-2-configuration-using-xml/-->
<!--http://www.baeldung.com/java-logging-intro-->

<Configuration monitorInterval="60">

    <Properties>
        <Property name="LOG_DIR">logs</Property>
        <Property name="LOG_FILE">stfc</Property>
        <Property name="LOG_FILE_MAX_SIZE">100 MB</Property>
        <Property name="LOG_PATTERN">[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger{50}: %msg%n</Property>
    </Properties>

    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>${LOG_PATTERN}</pattern>>
            </PatternLayout>
        </Console>

        <RollingFile name="FILE"
                     fileName="${LOG_DIR}/${LOG_FILE}.log"
                     filePattern="${LOG_DIR}/%d{yyyy-MM-dd}/${LOG_FILE}.%d{yyyy-MM-dd}.%i.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="${LOG_FILE_MAX_SIZE}"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="org.springframework" level="WARN"/>
        <Logger name="org.hibernate" level="WARN"/>
        <Logger name="org.hibernate.SQL" level="DEBUG" additivity="false"/>
        <Logger name="org.hibernate.ejb.HibernatePersistence" level="OFF"/>
        <Logger name="com.zaxxer.hikari" level="ERROR"/>
        <Logger name="org.stfc" level="DEBUG"/>
        <Root level="DEBUG">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="FILE" level="debug"/>
        </Root>

    </Loggers>
</Configuration>